

.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 90%;
    overflow-y: scroll;
    max-height: 400px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.song {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: start;
    align-items: flex-start;
    display: flex;
    border-bottom: 1px solid #626262;
}

.song h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--softTextColor);
    font-weight: 50px;
    
}

.votebutton {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
}

.votebutton:hover {
    background-color: yellow;

}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

/* You can add different animation classes here (e.g., bounce, shake) */

#results-container {
    margin-top: 50px;
}

#results-list {
    list-style: none;
    padding: 0;
}

#results-list li {
    margin: 5px 0;
}